
.project-bg{ 
  background: #e9caa1;
}

/* ---------------------
   響應式：窄螢幕自動換行
   --------------------- */
@media screen and (max-width: 768px) {
  .project-item {
    flex-wrap: wrap;             /* 左右換行 */
  }

  .project-item .pro-item-left,
  .project-item .pro-item-right {
    width: 100%;                 /* 單欄顯示 */
    margin-bottom: 15px;         /* 上下間距 */
  }
}

/* ---------------------------
   Main (還原樣式)
   --------------------------- */
   
.project-main-inner {
  max-width: 670px; /* 可以調整為 880px 以收窄 */
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  position: static;

  text-align: center;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-item {
  width: 100%;
  min-height: 270px;
  padding: 0px 20px 0px 40px;
  display: flex;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  box-shadow: #202225 0px 1px 4px;
  margin-bottom: 50px;
  box-sizing: border-box;
  flex-wrap: nowrap;
}

.project-item .pro-item-left,
.project-item .pro-item-right {
  width: 50%;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  padding-top: 40px;
}

.pro-tech {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0; 
  font-size: 14px;
  padding-bottom: 10px;
}
