
.project-bg{ 
  background: #e9caa1;
}

/* ---------------------------
   Main (還原樣式)
   --------------------------- */
   
.project-main-inner {
  max-width: 900px; /* 可以調整為 880px 以收窄 */
  width: 100%;
  margin: 0 1rem;
  padding: 1rem;
  box-sizing: border-box;
  background: #7a4750;
}
