/* resume main background color change*/
.resume-bg{
  background: #e9caa1;
}

/* ---------------------
   響應式：窄螢幕調整
   --------------------- */
@media screen and (max-width: 768px) {
  .resume-item {
    flex-wrap: wrap;            /* 左右換行 */
  }

  .resume-item .exp-item-left,
  .resume-item .exp-item-right,
  .resume-item .edu-item-left,
  .resume-item .edu-item-right {
    width: 100%;                /* 左右變單欄 */
    margin-bottom: 15px;        /* 加間距 */
  }
}

/* ---------------------------
   Main
   --------------------------- */
.resume-main-inner {
  max-width: 650px; /* 可以調整為 880px 以收窄 */
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  position: static;

  text-align: center;
}

.resume-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.resume-item {
  width: 100%;
  min-height: 270px;
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  box-shadow: #202225 0px 1px 4px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.resume-item .exp-item-left,
.resume-item .exp-item-right,
.resume-item .edu-item-left,
.resume-item .edu-item-right {
  width: 45%;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  padding-top: 50px;
}

.resume-skills-item {
  width: 100%;
  min-height: 350px;
  padding: 0px 40px;
  background: rgb(255, 255, 255);
  box-shadow: #202225 0px 1px 4px;
  margin-bottom: 30px;
}

.skills-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 兩欄 */
  gap: 20px 10px; /* 行距與列距 */
  list-style: none;
  padding: 0;
  margin: 0;  
}

.skills-item li{
  display: flex;
  align-items: center;
}

.PC-name {
  font-size: 13px;
}

.title-dot {
  width: 15px;
  height: 15px;
  background-color: rgba(75, 2, 75, 0.74); /* 大方塊 */
  margin-bottom: 5px;
  display: inline-block;
}

.dot {
  flex: 0 0 auto;
  width: 10px;
  height: 10px;
  background-color: rgba(75, 2, 75, 0.74); /* 小方塊 */
  margin-right: 8px;
  display: inline-block;
}
