/* main 主背景 */
.contact-bg {
  background: linear-gradient(to right, #f3f3f3 30%, #e9caa1 70%);
}

/* ---------------------------
   Main (還原樣式)
   --------------------------- */

.contact-main-inner {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  position: static;
  text-align: center;

}

.contact-card {
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  padding: 40px 20px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: #202225 0px 3px 7px;
  position: relative;
  overflow: visible;
  z-index: 2;
}