/* main 主背景 */
.contact-bg{
  background: linear-gradient(to right, #f3f3f3 30%, #e9caa1 70%);
}

/* ---------------------------
   Main (還原樣式)
   --------------------------- */

.contact-main-inner {
  max-width: 900px; /* 可以調整為 880px 以收窄 */
  width: 100%;
  margin: 0 1rem;
  background: #a87575;
  padding: 1rem;
  box-sizing: border-box;
}